[submodule "src/commercial-marketplace-saas-sdk-client-dotnet"]
	path = src/commercial-marketplace-saas-sdk-client-dotnet
	url = https://github.com/Ercenk/commercial-marketplace-saas-sdk-client-dotnet.git
